<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fruit Fruit</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../static/img/logo/Fruit_Fruit_2_clear.png" type="image/x-icon">
    <link rel="icon" href="../static/img/logo/Fruit_Fruit_2_clear.png" type="image/x-icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/signup_1">Sign Up <i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </nav>
    <header class="header-section-other">
        <div class="container-fluid hero-search set-bg" data-setbg="../static/img/search-bg.jpg">
            <div class="logo">
                <a href=""><img src="../static/img/logo/Fruit_Fruit_2_clear.png" alt=""></a>
            </div>
            <div class="nav-menu">
                <nav class="main-menu mobile-menu">
                    <ul>
                        <li><a href="/login">Recommend</a></li>
                        <li><a href="/login">Search Recipe</a></li>
                        <li><a href="/login">Pinned Recipe</a></li>
                        <li><a href="/about_us">About Us</a></li>
                    </ul>
                </nav>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->
    <br><br><br><br><br><br><br>
    <!-- login Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <form class="contact-form" action="#" method="post"> {% csrf_token %}
                        <h3>Welcome!</h3>
                        <h5>{{ error }}</h5>
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-6">
                                <input type="text" placeholder="ID" name="user_name" id="user_name">
                                <input type="password" placeholder="Password" name="user_pw" id="user_pw">
                            </div>
                            <div class="col-lg-3"></div>
                        </div>
                        <button type="submit">Log in</button>

                    </form>
                    <br/>
<!--                    <form class="contact-form" >-->
<!--                        <button value="Sign Up" onclick="location.href='{% url 'signup_1' %}'">Sign Up</button>-->
<!--                    </form>-->
                </div>
            </div>
        </div>
    </section>
    <!-- login Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="fs-left">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy; 연봉1조(멀티캠퍼스 데이터사이언스/엔지니어링 15,16회 최종프로젝트 1조) All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.slicknav.js"></script>
    <script src="../static/js/jquery.nice-select.min.js"></script>
    <script src="../static/js/mixitup.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>

</html>