<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blue-Shelter</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

<div id="DB2Rating">
    <div class="DB2Rating">
        <table class="DB2Rating">
            <tbody>
            <tr>
                <td> selected_recipe_name </td>
                {% for recipe in selected_recipe_name %}
                <td> {{recipe}} </td>
                {% endfor %}
            </tr>
            <tr>
                <td> stars </td>
                {% for star in stars %}
                <td> {{star}} </td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>