<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue_Shelter Page</title>

    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>

    {% load static %}

    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&family=Song+Myung&display=swap" rel="stylesheet">
    <link href="{% static 'board/css/styles.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'map/css/map.css' %}" rel="stylesheet" type="text/css">


</head>
<body>
    <header>
        <div>
            <p class="title"><b>{{ mental_agency.agency }}</b></p>
            <p class="content">{{ mental_agency.address }}</p>
            <p class="content">{{ mental_agency.phone_numbers }}</p>
            <div class="content_lead">
                 <p class="lead"><h3>{{ mental_agency.introductions }}</h3></p>
            </div>
            <br>
        </div>
    </header>

    <section class="part" id="comment">
        <div>
            <div>
                <h2>자유게시판</h2>
                <hr>
                <p>로그인 후, 자유롭게 글을 쓸 수 있는 게시판 입니다.</p>
            </div>

            <div class="main_bottom">
                {% if not mental_board_myList %}
                    <p>기관에 대해 작성해주세요.</p>
                {% else %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                              <th scope="col">제목(title)</th>
                              <th scope="col">내용(content)</th>
                              <th scope="col" style="text-align: center;">기관의 답글</th>
                            </tr>
                        </thead>
                        {% for data in mental_board_myList %}
                            <tbody>
                                <tr class="table-light">
                                    <th scope="row">{{ data.board_title }}</th>
                                    <td>{{ data.board_content }}</td>
                                    {% if data.comment_set %}
                                        {% for reply in data.comment_set.all %}
                                            <td>{{ reply.reply }}</td>
                                        {% endfor %}
                                    {% endif %}
                                </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    </section>
    <section>
        <div>
            <form id="contactForm" method="post" > {% csrf_token %}
                <fieldset class = "insert">
                    <div class="form-group row">
                        <label for="staticId" class="col-sm-2 col-form-label">닉네임</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control-plaintext" id="staticId" value="{{ request.session.mynickname }}" readonly >
                            <small id="emailHelp" class="form-text text-muted">We'll never share your content with anyone else.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleTitle" class="form-label mt-4">Title</label>
                        <input type="text" class="form-control" id="exampleTitle" placeholder="Enter title" name="board_title">
                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea" class="form-label mt-4">content</label>
                        <textarea class="form-control" id="exampleTextarea" rows="3" name="board_content"></textarea>
                    </div>
                    <br>
                    <div>
                        <div id="submit">
                            <input align="right" class="btn btn-primary" type="submit" value="작성">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

    </section>
    <footer class="part">
        <div>
            <div>Copyright &copy; 2022 - Company saeng-gwa sajo</div>
        </div>
    </footer>

</body>
</html>