<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue_Shelter admin Page</title>

    <link rel="icon" type="image/x-icon" href="/static/main/assets/favicon.ico"/>

    {% load static %}

    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&family=Song+Myung&display=swap" rel="stylesheet">
    <link href="{% static 'admin/css/admin_css.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'map/css/map.css' %}" rel="stylesheet" type="text/css">


</head>
<body>

    <header>
        <div class="admin_agency">
            <a class= 'button_admin' href="{% url 'agency_logout' %}">로그아웃</a>
        </div>
        <div>
            <h3>Hello,</h3> <h1><b>{{ agency.agency | default:'Blue Shelter' }}</b></h1> <h3>with Blue Shelter</h3>
        </div>
    </header>

    <section class="part" id="comment">
        <div>
            <div class="main_part">
                <h3>{{ agency.agency | default:'Blue Shelter' }}게시판에 올라온 글 입니다.</h3>
                <h4> 해당 <a>게시물 제목</a>을 누르시면, 내용 확인 후 답장 하실 수 있으십니다.</h4>
            </div>

            <div class="main_bottom">
                {% if not list %}
                    <h5>-----  작성된 게시물이 없습니다 -----</h5>
                {% else %}
                    <table class="table table-hover">
                        <colgroup>
                            <col width=10%;>
                            <col width=40%;>
                            <col width=*;>
                        </colgroup>
                        <thead>
                            <tr>
                              <th scope="col">작성자</th>
                              <th scope="col">제목</th>
                              <th scope="col" style="text-align: center;">내가 작성한 답글</th>
                            </tr>
                        </thead>
                        {% for data in list %}
                            <tbody>
                                <tr class="table-light">
                                    <th scope="row">{{ data.members_mynickname_id }}</th>
                                    <td><a href="{% url 'agency_comment' data.id  %}">{{ data.board_title }}</a></td>
                                    <td>
                                        {% if data.comment_set %}
                                            {% for reply in data.comment_set.all %}
                                                {{ reply.reply }}
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        {% endfor %}
                     </table>
                {% endif %}
            </div>
        </div>


    </section>



    <footer class="part">
        <div>
            <div>Copyright &copy; 2022 - Company saeng-gwa sajo</div>
        </div>
    </footer>
</body>
</html>