<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue_Shelter Page</title>

    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>

    {% load static %}
    <link href="{% static 'board/css/myboardstyle.css' %}" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&family=Song+Myung&display=swap" rel="stylesheet">
    <link href="{% static 'map/css/map.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'board/js/scripts.js' %}"></script>

</head>
<body>
    <header>
        <div>
            <p class="title">{{ request.session.mynickname }} 님의 게시글</p>
        </div>
    </header>
    <div class="list-group">
        <table id="comment">
            {% if not list %}
            <tr>
                <th colspan="4">---------- 작성된 글이 없습니다 ----------</th>
            </tr>
            {% else %}
                <tr>
                    <th>글 제목</th>
                    <th>병원 이름</th>
                </tr>
                {% for data in list %}
                    <tr>
                        <td class="list-group-item list-group-item-action flex-column align-items-start active">{{ data.board_title }}</td>
                        <td><a href="{% url 'mental_agency' data.mental_address.id %}">{{ data.mental_address.agency }}</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>



    <div id="contactForm" align="center">
        <fieldset>
    <!-- 이전 -->
    {% if list.has_previous %}
        <a href="?page={{ list.previous_page_number }}">이전</a>
    {% else %}
        <a>이전</a>
    {% endif %}

    <!-- 페이징 -->
    {% for page_num in list.paginator.page_range %}
        {% if page_num == list.number %}
            <b>{{ page_num }}</b>
        {% else %}
            <a href="?page={{ page_num }}">{{ page_num }}</a>
        {% endif %}
    {% endfor %}

    <!-- 다음 -->
    {% if list.has_next %}
        <a href="?page={{ list.next_page_number }}">다음</a>
    {% else %}
        <a>다음</a>
    {% endif %}
        </fieldset>
    </div>

    <br>
    <div id="submit">
        <a align="right" class="btn btn-primary" href="{% url 'map_show' %}">돌아가기</a>
    </div>

    <footer class="part">
            <div>Copyright &copy; 2022 - Company saeng-gwa sajo</div>
    </footer>

</body>
</html>